#logo {
  background-image: url('../img/logo.png');
  width: 143px;
}

body {
    margin-top: 70px;
}

#navUp {
    cursor: pointer;
}

#cartIcon {
    color: white;
    font-size: 20px;
    padding: 10px;
}

#ordersTable > tbody >tr > td {
    vertical-align: middle;
}