<div class="col-sm-10 col-sm-offset-2" ng-repeat="cartItem in cart">
    <h2>{{cartItem.item.name}}</h2>

    <p>{{cartItem.item.description}}</p>

    <p>{{cartItem.item.price | currency}} X {{cartItem.amount}} = {{cartItem.item.price * cartItem.amount |
        currency}}</p>
</div>
<div class="col-sm-10 col-sm-offset-2">
    <h1>Totaal: {{totalValue() | currency}}</h1>
    <button class="btn btn-danger" ng-click="clearBasket()">Smijt alles weg!</button>
    <button class="btn btn-primary" ng-click="postOrder()">Bestellen</button>
</div>