<div ng-show="item">
    <h2>{{item.name}}</h2>

    <p>{{item.description}}</p>
    <p>{{item.price | currency}}</p>
    <button class="btn btn-primary" ng-click="addToCart(item)">Eten die handel!</button>
</div>