<div id="menu" class="col-sm-12">
    <div class="col-sm-2" id="sideMenu">
        <h3>{{title}}<span id="navUp" class="glyphicon glyphicon-arrow-up" ng-show="parent" ng-click="navParent(parent)"></span></h3>
        <ul class="list-unstyled">
            <li ng-repeat="menuItem in menu">
                <button class="btn btn-default btn-block" ng-click="navMenu(menuItem)">{{menuItem.title}}</button>
            </li>
        </ul>
    </div>
    <div class="col-sm-10" id="content" menu-item-details item="item">
    </div>
</div>