<div class="col-sm-10 col-sm-offset-2">
    <h1>Orders</h1>
    <table class="table table-striped" id="ordersTable">
        <thead>
        <tr>
            <th></th>
            <th>Datum</th>
            <th>Aantal gerechten</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="order in orders">
            <td><span class="glyphicon" ng-class="order.opened ? 'glyphicon-minus' : 'glyphicon-plus'" ng-click="toggle(order)"></span></td>
            <td>{{order.date | date : short}}</td>
            <td>{{order._embedded.items.length}}</td>
        </tr>
        <tr ng-repeat-end ng-show="order.opened">
            <td></td>
            <td colspan="2">
                <table class="table">
                    <tr ng-repeat="item in order._embedded.items">
                        <td>{{item.title}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>