<!doctype html>
<html ng-app="ae-cafe">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AE Café</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/app.css"/>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavigationController">
    <div class="navbar-header">
        <a id="logo" class="navbar-brand" href="#/home"></a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <menu-item text="Home" url="/home"></menu-item>
            <menu-item text="Menu" url="/menu"></menu-item>
            <menu-item text="Orders" url="/orders"></menu-item>
        </ul>
        <div class="navbar-right">
            <a id="cartIcon" href="#/shoppingCart" >
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <span class="badge">{{items}}</span>
            </a>
        </div>
    </div>
</div>

<div ng-view></div>
</body>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-i18n/angular-locale_nl.js"></script>
<script src="bower_components/angular-local-storage/angular-local-storage.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/menuController.js"></script>
<script src="js/services/menuService.js"></script>
<script src="js/directives/menuItemDirective.js"></script>
</html>